<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"STORY 1"</title>
</head>
<body>
    <h1>Hello my name is Jeremiah Garcia Tennes</h1>
	<article>NPM : {{ 1806204966 }}</article
    <article>Angkatan : {{ 2018 }}</article>
	<article>Tempat Kuliah : {{ "Fasilkom - Universitas Indonesia" }}</article>
	<article>Hobbies : {{ "Playing with friends, Talking with friends, Hanging out with friends" }}</article>
    <article>I am {{ 18 }} years old</article>
</body>
</html>
